<h1>ember-query-params</h1>
<br>
<br>
{{outlet}}
<br>
<br>

<button type="button" {{action this.updateTheme}}>Test</button><br>
{{this.theme}}<br>
{{this.theme2}}<br>
{{this.isSidebar}}

{{#link-to "test"}}Test{{/link-to}}
